/* Text style*/
.text-center {
  margin: 0;
}

/* Main Frame style */
.mainBlock {
  background: rgba(255,255,255, 0.85);
  height: auto;
  width: 96%;

  /* opacity: 0.85; */

  border-radius: 16px;

  transform: translate(2.5%, 2%);
  /* ((100-width)/2, (100-height)/2) */

  position: absolute;
  z-index: 9999;
}

.skillBlockHeader
{
   font-weight: bold;
   font-size: larger;
}


.flash {
  text-align: center;
  padding: 10px;
}

.flash.success {
  border: 1px solid #21DB56;
  background: #AEFFC5;
}

.flash.error {
  border: 1px solid #FF4343;
  background: #FF9C9C;
}

.form-error {
  background: #FF9C9C;
}

.mainBlock-login {
  background: #ffffff;
  height: auto;
  width: 30%;
  margin-left: 35%;
  opacity: 0.8;
  border-radius: 16px;
  transform: translate(2.5%, 2%);
  /* ((100-width)/2, (100-height)/2) */
  position: absolute;
  z-index: 9999;
  margin-top: 12%;
  text-align-last: center;
}

.mainBlock-error {
  background: #ffffff;
  height: auto;
  width: 80%;
  margin-left: 8%;
  opacity: 0.8;
  border-radius: 16px;
  transform: translate(2.5%, 2%);
  /* ((100-width)/2, (100-height)/2) */
  position: absolute;
  z-index: 9999;
  margin-top: 12%;
  text-align-last: center;
}

.login-button {
  margin-top: 2%;
  margin-bottom: 1%;
}

/* Header style */
.navbar {
  height: 40px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


/* Chart style */
.chart {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: auto;
  height: 400px;
  margin: 0 auto;

  margin-top: 15% !important;

  animation: visible 10s; 
}

/* Username-text style */
#Name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

/* Skills-text style */
#skillsText {
  margin-top: 2%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;

}


@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
 }

/* Skills frame style */
.skillsBlock {
  font-size: larger;
  border-radius: 16px;
  position: relative;
  background-color: #76AAF2;
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;

  max-height: 1000px;
  animation: visible 2s; 
}

.skillsBlock-ellapsed {
  /* opacity: 1 !important; */
  font-size: larger;
  border-radius: 16px;
  position: relative;
  background-color: #76AAF2;
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;

  max-height: 1000px;
  transition: max-height 0.9s cubic-bezier(1, 0, 1, 0);
}

.skillsBlock-collapsed {
  /* opacity: 1 !important; */
  font-size: larger;
  border-radius: 16px;
  position: relative;
  background-color: #76AAF2;
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;

  max-height: 0;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1); 
}

/* Call to action block style */
#callToAction {
  margin-top: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  text-align: center;
  /* display: flex; */
  justify-content: center;
}

/* Call to action buttons style*/
.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: rgb(221, 220, 226);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.floating-button:hover {
  background: #2EE597;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50% !important;
  /* Could be more or less, depending on screen size */
}

/* .btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s all;
  outline: 0;
} */

.btn-white {
  background-color: #fff;
}

.btn-dark {
  background-color: #303030;
  color: #fff;
  border: none;
}

.btn-min {
  height: 50px;
}

.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Drag'N'Drop Style */
#drop_zone {
  border: 5px solid blue;
  width: 200px;
  height: 100px;
}

/* --------- Scrollbar */

::-webkit-scrollbar-thumb {
  background-color: rgb(208, 221, 230);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: rgb(22, 87, 132)
}

::-webkit-scrollbar {
  width: 16px;
}